.modal-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    position: relative;
}

.modal {
    position: absolute;
    background-color: var(--modal-bg);
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 60%;
}

.modal form {
    z-index: 100;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.modal-text {
    width: 500px;

}


@media (max-width:600px) {
    .modal {
        min-width: 90%;
    }
}